.sidebar {
  width: 240px;
  background: var(--color-card);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-right: 1px solid var(--color-border);
  height: 100vh;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: var(--color-prm-txt);
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.logo i {
  color: var(--color-primary);
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLinks li {
  margin-bottom: 12px;
}

.navLinks a {
  text-decoration: none;
  color: var(--color-sec-txt);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.navLinks a:hover,
.activeLink {
  background: var(--color-primary);
  color: var(--btn-txt) !important;
}

.activeLink i {
    color: var(--btn-txt);
}